{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% comment %} {{ recipe_object.title }} - {% endcomment %}
            My Categories
        </title>
    </head>
    <body>
        {% comment %} <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
            </nav>
        </header> {% endcomment %}
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
